body {
    margin: 0;
}

.centre {
    text-align: center;
}

.bottom {
    text-align: center;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 18px;
    line-height: 1.6em;
    color: #333;
    text-align: justify;
    margin: 0.625em 0;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.photo {
    display: inline-block;
    float: right;
    width: 33%;
    padding: 0 0 2em 2em;
    min-width: 400px;
}

.biotext:before {
    content: ' ';
    display: block;
    overflow: hidden;
    clear: left;
    width: 20em;
}

.photo img {
  width:100%;
}

.subject {
    padding: 0 0 2em 0;
}

.paper {
    padding: 0 0 2em 0;
}

.research {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.teaching {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.research-header {
  background: url(images/pump.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 80px 0 20px;
  position: relative;
  height: 35%
  height-max: 
  height-min: 
   
}

@media only screen and (min-width: 992px){
    .research {
        width: 970px;
    }
}

@media only screen and (min-width: 768px){
    .research {
        width: 750px;
    }
}


@media only screen and (max-width: 365px) { 
  .research-header {
    height: 220px;
  }
}

@media only screen and (max-width: 325px) { 
  .research-header {
    height: 200px;
  }
}
