html, body{
  height: 100%;
}

html { 
  background: url(images/boat.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 60px auto 0px auto;
  width: 70%;
}


.centre {
    text-align: center;
}

.bottom {
    text-align: center;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 18px;
    line-height: 1.6em;
    color: #333;
    text-align: justify;
    margin: 0.625em 0;
    text-align: center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 18px;
}

ul.posts li {
    list-style: none;
}
