<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/bio">Bio</a></li>
	        		<li><a href="/files/CV_2017.pdf">CV</a></li>
	        		<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:henn@gharvard.edu"><img src="\images\email.jpeg" style="width:30px; height:30px;"></a></li>
				<li><a href="https://twitter.com/SoerenHenn" target="_blank"><img src="\images\twitter.jpg" style="width:30px; height:30px;"></a></li>
	        		<li><a href="https://github.com/soeren-henn"><img src="\images\githublogo.png" style="width:30px; height:30px;"></a></li>
				<li><a href="http://scholar.harvard.edu/soeren-jannik-henn"><img src="\images\gscholar.png" style="width:30px; height:30px;"></a></li>
				<li><a href="https://www.linkedin.com/in/soeren-henn-a059a154/"><img src="\images\linkedin.png" style="width:30px; height:30px;"></a></li>
			</ul>
			</footer>
			
						
		</body>
	</html>
